/*font-family: 'Roboto', sans-serif;
*/
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #474747;
}
a {
	text-decoration: none !important;
	outline: none !important;
}
.bg {
	background: #FFF;
}
.clearer {
	clear: both;
}
#bannermainarea {
	width: 100%;
	background: #7b006e url(../img/bannerbg.jpg) center top no-repeat;
	height: 639px;
}
#header {
	width: 100%;
	padding-top: 30px;
}
.logo {
	width: 396px;
	height: 56px;
	background: url(../img/logo.png) left top no-repeat;
	display: inline-block;
	background-size: contain;
}
.navbar-nav>li>a {
	padding: 7px 15px;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFF;
	border:2px solid transparent;
	
}
.navbar-nav>li{margin-left:5px;}
.navbar-nav>li:first-child{ margin-left:0;}
.navbar-right {
	margin-top: 12px;
}
.nav>li>a:hover, .nav>li>a:focus {
	background: none;
	border:2px solid #FFF;
	border-color:rgba(255, 255, 255, 0.69);

}
.navbar-nav>li.activepage a {
  border:2px solid #FFF;
  border-color:rgba(255, 255, 255, 0.69);
}
.banner {
}
.bannerimg {
	width: 359px;
	height: 526px;
	background: url(../img/bannerlady.png) center bottom no-repeat;
	display: block;
	background-size: contain;
}
.bannertitle {
	padding-top: 150px;
}
.bannertitle h1 {
	font-weight: 300;
	font-size: 50px;
	color: #FFF;
	text-transform: uppercase;
	line-height: 54px;
}
.bannertitle h5 {
	font-weight: 300;
	font-size: 22px;
	color: #FFF;
	line-height: 28px;
}
.welcomearea {
	padding: 70px 0px 96px 0;
	position: relative;
}
.welcometext h2, .welcometext h3, .about h2, .about h3 {
	font-weight: 300;
	text-transform: uppercase;
}
.welcometext h2, .about h2 {
	font-size: 32px;
	color: #3b3b3b;
	margin-top: 12px;
	margin-bottom: 0;
}
.welcometext h3, .about h3, .about-bottom h3 {
	font-size: 33px;
	color: #8c0052;
	margin-top: 9px;
	border-bottom: 1px dotted #1f1f1f;
	padding-bottom: 13px;
	margin-bottom: 24px;
}
.welcometext p, .about p {
	font-weight: 300;
	font-size: 15px;
	color: #363636;
	line-height: 26px;
}
.welcometext .more {
	padding: 10px 57px 10px 37px;
	display: inline-block;
	font-weight: 400;
	font-size: 17px;
	color: #7e0748;
	position: relative;
	border: 2px solid #7f0748;
	margin-top: 25px;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s
}
.welcometext .more span {
	width: 5px;
	height: 7px;
	background: url(../img/morearrow1.png) center top no-repeat;
	position: absolute;
	right: 17px;
	top: 48%;
	z-index: 22;
}
.welcometext .more:hover {
	background: #7f0748;
	color: #FFF;
}
.welcometext .more:hover span {
	background-position: center bottom;
	display: block;
}
.homesidemenu {
	width: 367px;
	display: inline-block;
	background: #050505 url(../img/sidemenubg.jpg) left top no-repeat;
	padding: 210px 25px 25px 25px !important;
	position: absolute;
	z-index: 22;
	top: -95px;
	right: 0;
}
.homesidemenu h3, .homesidemenu li {
	font-weight: 300;
	color: #FFF;
}
.homesidemenu h3 {
	font-size: 24px;
	line-height: 32px;
}
.homesidemenu ul {
	padding: 0;
	margin: 0;
	margin-top: 18px;
}
.homesidemenu li {
	list-style: none;
	background: url(../img/point.png) left 8px no-repeat;
	font-size: 16px;
	line-height: 22px;
	padding-left: 15px;
	margin-bottom: 10px;
}
#homecoursearea {
	width: 100%;
	background: url(../img/home-courcebg.jpg) center top no-repeat fixed;
	background-size: cover;
}
.homecoursearealeft {
	width: 90%;
	background: #000;
	background-color: rgba(0, 0, 0, 0.67);
	display: inline-block;
	padding: 7px 45px 40px 45px;
}
.homecoursearealeft h4, .homecoursearealeft h6, .homecoursearealeft li, .homecoursearearight h2, .homecoursearearight li, .hm-enquire {
	font-weight: 300;
	color: #FFF;
}
.homecoursearealeft h4 {
	margin-top: 33px;
	font-size: 23px;
	line-height: 28px;
	margin-bottom: 18px;
}
.homecoursearealeft h6 {
	color: #e464af;
	margin-bottom: 14px;
	font-size: 18px;
}
.homecoursearealeft ul {
	margin: 0;
	padding: 0;
}
.homecoursearealeft li {
	list-style: none;
	font-size: 16px;
	line-height: 27px;
}
.homecoursearearight {
	padding-top: 112px;
}
.homecoursearearight h2, .professionel h2 {
	font-size: 33px;
	line-height: 35px;
}
.homecoursearearight ul, .professionel ul {
	padding: 0;
	margin-top: 45px;
}
.homecoursearearight li, .professionel li {
	font-size: 21px;
	text-transform: uppercase;
	list-style: none;
	display: inline-block;
	width: 40%;
	float: left;
	padding-left: 65px;
	background-position: left top;
	background-repeat: no-repeat;
	height: 50px;
	padding-top: 8px;
	margin-bottom: 26px;
}
.hm-crc1 {
	background: url(../img/hm-serviceicon1.png);
}
.hm-crc2 {
	background: url(../img/hm-serviceicon2.png);
}
.hm-crc3 {
	background: url(../img/hm-serviceicon3.png);
}
.hm-crc4 {
	background: url(../img/hm-serviceicon4.png);
}
.hm-enquire, .course-enquire {
	width: 320px;
	height: 63px;
	background: #9a1663 url(../img/enq-phone.jpg) left top no-repeat;
	font-size: 34px;
	padding: 5px 32px 0px 100px;
	display: block;
	vertical-align: middle;
	font-weight: 100;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s
}
.hm-enquire:hover {
	color: #FFF;
	background-color: #870551;
}
.hm-enquire:focus{color: #FFF;
background-color: #9a1663;
}
#footertop {
	padding: 60px 0px 42px 0px;
}
.footerligo {
	display: inline-block;
	width: 362px;
	height: 51px;
	background: url(../img/logobtm.png) left top no-repeat;
}
.footertopleft p, .footertopmiddle-contact, .copyright p {
	font-size: 14px;
	font-variant: 300;
	color: #000;
	margin-top: 8px;
	line-height: 23px;
}
.footertopmiddle-contact {
	background: url(../img/mail-icon.gif) left center no-repeat;
	font-size: 16px;
	margin: 0;
	padding-left: 63px;
	margin-top: 43px;
}
.footertopmiddle-contact a {
	color: #000;
}
.footertopmiddle-contact a:hover, .footertopmiddle-contact a:focus {
	color: #910759;
}
.iatalogo {
	width: 71px;
	height: 72px;
	display: inline-block;
	background: url(../img/iatalogo.jpg) center top no-repeat;
	float: right;
	margin-right: 29px;
	margin-top: 27px;
}
#footerbottom {
	padding: 25px 0;
	background: #910759;
}
.copyright p {
	color: #FFF;
	margin: 0;
	margin-top: 5px;
}
#footerbottom ul.social {
	margin: 0;
	margin-right: 4px;
	float: right;
}
#footerbottom ul.social > li {
	padding: 0px;
	margin-right: 5px;
	display: inline-block;
}
#footerbottom ul.social .fb, #footerbottom ul.social .twt, #footerbottom ul.social .gplus, #footerbottom ul.social .lkin {
	display: inline-block;
	width: 25px;
	height: 26px;
	background: url(../img/socialicon.png);
	background-repeat: no-repeat;
}
#footerbottom ul.social .fb, #addressarea ul.social .fb {
	background-position: left top;
}
#footerbottom ul.social .fb:hover,.contacts #addressarea ul.social .fb:hover {
	background-position: left bottom;
}
#footerbottom ul.social .gplus,.contacts #addressarea ul.social .gplus {
	background-position: -33px top;
}
#footerbottom ul.social .gplus:hover,.contacts #addressarea ul.social .gplus:hover {
	background-position: -33px bottom;
}
#footerbottom ul.social .lkin,.contacts #addressarea ul.social .lkin {
	background-position: -66px top;
}
#footerbottom ul.social .lkin:hover,.contacts #addressarea ul.social .lkin:hover {
	background-position: -66px bottom;
}
#footerbottom ul.social .twt,.contacts #addressarea ul.social .twt {
	background-position: right top;
}
#footerbottom ul.social .twt:hover,.contacts #addressarea ul.social .twt:hover {
	background-position: right bottom;
}
/*---------------innerpage---------------*/
.innerbanner {
	height: 120px !important;
}
.about, .course, .contacts, .gallery {
	padding-top: 40px;
	padding-bottom: 40px;
}
.aboutimg1 {
	margin-top: 50px;
}
.aboutimg2 {
	margin-top: 30px;
}
.about-bottom {
	padding-top: 50px;
}
.about-bottom h3, .about-bottom h4 {
	color: #9f005d;
	font-size: 44px;
	border: none;
	font-weight: 300;
	padding: 0;
	margin-bottom: 0;
}
.about-bottom h4 {
	font-size: 34px;
	margin-top: 0;
}
.about-bottom ul {
	padding: 0;
	margin: 30px 0 0 0;
}
.about-bottom li {
	list-style: none;
	font-weight: 300;
	font-size: 17px;
	color: #000000;
	margin-bottom: 10px;
}
#mission-vision {
	background: url(../img/aboutbgimg.jpg) center top no-repeat fixed;
	background-size: cover;
	padding: 70px 0;
}
#mission-vision h4, #mission-vision p {
	font-weight: 300;
	color: #FFF;
}
#mission-vision h4 {
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 17px;
}
#mission-vision p {
	line-height: 26px;
}
.course {
}
.course h3, .contacts h3, .gallery h3 {
	font-size: 32px;
	color: #b00046;
	padding: 0;
	border: 0;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.blackcolor {
	color: #3b3b3b;
}
.course h5 {
	font-size: 23px;
	color: #000;
	margin-bottom: 15px;
	line-height: 28px;
	font-weight: 300;
}
.course h6, .contacts h6 {
	font-size: 18px;
	color: #ba0c56;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 20px;
}
.courseleft ul {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}
.courseleft li {
	list-style: none;
	font-variant: 300;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
	background: url(../img/listpoint.png) left 7px no-repeat;
	padding-left: 15px;
}
/*.professionel{ padding:30px !important;}*/
.professionel ul {
	margin-top: 35px;
}
.professionel li {
	color: #FFF;
	width: 50%;
}
.professionel h2 {
	text-align: center;
	color: #FFF;
	font-weight: 300;
}
.course-enquire {
	background-color: #FFF;
	color: #870551;
	margin-top: 60px;
	margin-left: 20px;
}
.course-enquire:hover {
	background-color: #9a1663;
	color: #FFF;
}
.course-enquire:focus{
	background-color: #FFF;
	color: #870551;}

.course-enquire {
}
.contactforms .form {
	width: 100%;
	padding-top: 20px;
}
.contactforms .label {
	font-weight: 400;
	font-size: 15px;
	color: #000000;
	padding: 0px!important;
	margin-bottom: 5px;
}
.contactforms .form-control, .contactforms .form-control2 {
	border-radius: 0px;
	background: #FFF;
	margin-top: 4px;
	border: 1px solid #d1d1d1;
	padding: 10px;
	font-weight: 400;
	font-size: 15px;
	color: #5C5C5C;
}
.contactforms .form-control {
	width: 95%;
	height: 47px;
	margin-bottom: 18px;
}
.contactforms .form-control2 {
	width: 99.8%;
	height: 155px;
}
.contactforms .submit {
	height: 154px;
}
.contactforms .submit .btn {
	border-radius: 0 !important;
	background: #910759;
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	padding: 12px 50px;
	text-transform: uppercase;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.contactforms .submit .btn:hover {
	background: #c4024b;
}
.contactforms .form-group {
	margin-bottom: 17px;
}
.contacts h6 {
	margin-bottom: 5px;
	margin-top: 5px;
}
#addressarea {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e7e7e7;
}
#addressarea p {
	color: #363636;
	line-height: 22px;
}
#addressarea p a {
	color: #363636;
}
#addressarea p a:hover {
	color: #910759;
}
#addressarea ul.social {
	margin: 0;
	padding: 0;
}
#addressarea ul.social> li {
	padding: 0px 1px;
	background: none;
}
#addressarea ul.social .fb, #addressarea ul.social .gplus, #addressarea ul.social .twt, #addressarea ul.social .lkin {
	width: 25px;
	height: 26px;
	display: inline-block;
	background: url(../img/social-contact.png);
	background-repeat: no-repeat;
}
.contactforms {
	margin-bottom: 20px;
}
.contacts h6 {
	color: #1c1d1d;
	font-weight: 400;
}
/*#addressarea ul.social .fb{ background-position:left top;}
#addressarea ul.social .fb:hover{ background-position:left bottom;}
#addressarea ul.social .gplus{ background-position:top center; }
#addressarea ul.social .gplus:hover{ background-position:bottom center;}
#addressarea ul.social .twt{ background-position:right top;}
#addressarea ul.social .twt:hover{ background-position:right bottom;}*/

#map {
	width: 100%;
	height: 250px;
}
/* Flexible iFrame */
.Flexible-container {
	position: relative;
	padding-bottom: 0;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	height: 250px;
}
.Flexible-container iframe, .Flexible-container object, .Flexible-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 250px;
}
.gallery {
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 30px;
}
#gallery {
	margin: 10px -13px;
}
#gallery.list-inline>li {
	display: inline-block;
	padding-right: 0;
	padding-left: 0;
	width: 25%;
	padding: 13px;
	float: left;
}
#gallery.list-inline>li img {
	width: 100%;
}

/*---------------innerpage---------------*/


@media(min-width:992px) {
.bannerimg {
	margin-left: 100px;
}
.homesidemenu {
	padding-left: 0;
}
.footertopmiddle-contact {
	margin-left: 33px;
}
.welcometext {
	padding-right: 60px;
}
}

@media(min-width:768px) {
.homesidemenu {
	padding-left: 0;
}
.homecoursearearight {
	padding-left: 7px;
}
.aboutleft {
	padding-right: 0;
}

}

@media(min-width:768px) and (max-width:992px) {
.navbar-right {
	float: left!important;
	margin-top: 15px !important;

}
.navbar-nav>li>a {
	padding: 10px 20px 10px 20px;
}
.bannerimg {
	width: 385px;
	height: 478px;
	background-position: left bottom;
}
.homecoursearearight li {
	width: 60%;
}
.innerbanner {
	height: 165px !important;
}
.professionel li {
	width: 100%;
}
.course-enquire {
	margin-top: 40%;
}
}

@media screen and (max-width: 1200px) {
.bannertitle {
	padding-top: 130px;
}
.footertopleft p {
	font-size: 13px;
}
.footertopmiddle-contact {
	font-size: 14px;
	padding-left: 50px;
}
.homesidemenu {
	width: 350px;
}
.course-enquire {
	margin-left: 0;
}
.logo {
	width: 314px;
	height: 45px;
}
.navbar-right {
	margin-top: 5px;
}
.bannerimg {
  width: 359px;
  height: 537px;
  margin-left:0;
}
}

@media screen and (max-width: 992px) {
.navbar-collapse {
	padding: 0;
}
.bannertitle {
	padding-top: 90px;
}
.footerligo {
	width: 315px;
	height: 45px;
	background-size: contain;
}
.welcometext {
	width: 100%;
}
.homesidemenu {
	width: 100%;
	position: relative;
	top: 15px;
	right: auto;
	margin-top: 30px;
}
.welcomearea {
	padding: 50px 0px 86px 0;
}
#gallery {
	margin: 10px -5px;
}
#gallery.list-inline>li {
	padding: 5px;
}
.bannerimg {
  width: 325px;
  height: 478px;
  margin-left: 0;
}
}

@media screen and (max-width: 768px) {
.navbar-toggle {
	border: 1px solid #FFFFFF;
	margin-top: 20px;
	margin-right: 0px;
}
.navbar-toggle .icon-bar {
	background: #FFFFFF;
}
.navbar-toggle:hover {
	background: #C50A8A;
	border-color: #C50A8A;
}
.navbar-toggle:hover .icon-bar {
	background: #FFFFFF;
}
.navbar-nav>li{ margin-left:0;}
.navbar-nav > li > a {
	padding: 12px 15px;
	margin: 0px;
	text-align: left;
	border-bottom: solid 1px #999999;
	border-bottom-color: rgba(207, 1, 142, 0.96);
	border:none;
}
.navbar-nav > li > a:hover {
	background: rgba(173, 19, 124, 1);
	color: #FFF;
	border:none;
}
.navbar-nav>li.activepage a {
  border:none;
  background: rgba(173, 19, 124, 1);
}
.navbar-header {
	padding: 0px 15px;
}
ul.navbar-nav {
	margin: 0px;
}
.navbar-collapse {
	position: absolute;
	z-index: 999;
	background: #C50A8A;
	background-color: rgba(197, 10, 138, 0.89);
	width: 100%;
}
#navimain .container {
	padding: 0px;
}
.bannertitle {
	padding-top: 10px;
	text-align: center;
}
.bannertitle h1 {
	font-size: 33px;
	line-height: 34px;
}
.bannertitle h5 {
	font-size: 17px;
	line-height: 24px;
	margin-top: 0;
}
.bannerimg {
	width: 250px;
	height: 383px;
	margin: 0 auto;
}
.homecoursearealeft {
	width: 100%;
}
.homecoursearearight {
	padding-top: 50px;
	padding-bottom: 50px;
}
.iatalogo, #footerbottom ul.social {
	float: left;
}
#footerbottom ul.social {
	margin-top: 15px;
}
.aboutimg1 {
	margin-top: 0px;
	margin-bottom: 25px;
}
.about {
	padding-top: 30px;
	padding-bottom: 30px;
}
.aboutimg2 {
	margin-top: 10px;
	margin-bottom: 35px;
}
.about-bottom {
	padding-top: 10px;
}
.professionel h2 {
	text-align: left;
	padding-left: 15px;
}
.course-enquire {
	margin-top: 40px;
}
#addressarea ul.social {
	margin: 8px 0 0 0;
}
.contactforms .form-control {
	width: 100%;
}
#gallery.list-inline>li {
	width: 50%;
}
}

@media screen and (max-width: 550px) {
.logo {
	width: 314px;
	height: 45px;
}
.navbar-toggle {
	margin-top: 5px;
}
.bannertitle h5 {
	font-size: 18px;
}
.bannerimg {
	width: 240px;
	height: 371px;
}
#mission-vision h4 {
	font-size: 28px;
	margin-top: 10px;
}
.professionel {
	padding: 30px 10px!important;
}
}

@media screen and (max-width: 480px) {
.logo {
	width: 240px;
	height: 34px;
}
.navbar-toggle {
	margin-top: 0px;
}
.bannertitle h1 {
	font-size: 25px;
	line-height: 28px;
}
.bannertitle {
	padding: 0;
}
.bannerimg {
	width: 250px;
	height: 395px;
}
.welcometext h2, .welcometext h3, .about h2, .about h3, .about-bottom h4 {
	font-size: 25px;
}
.homecoursearealeft {
	padding: 0px 25px 30px 25px;
}
.aboutimg1 {
	margin-top: 10px;
	margin-bottom: 20px;
}
.about-bottom ul {
	margin: 15px 0 0 0;
}
.professionel li {
	width: 100%;
}
.course-enquire {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
}
}

@media screen and (max-width: 380px) {
.logo {
	width: 229px;
	height: 33px;
	margin-top:42px;
}
.bannerimg {
	width: 220px;
	height: 363px;
}
.bannertitle h5 {
	font-size: 17px;
}
.about, .course, .contacts, .gallery {
	padding-top: 20px;
	padding-bottom: 20px;
}
.course h3, .contacts h3, .gallery h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.welcometext h2, .welcometext h3, .about h2, .about h3, .about-bottom h4 {
	font-size: 22px;
}
.welcomearea {
	padding: 30px 0px 56px 0;
}
.hm-enquire, .course-enquire {
	width: 260px;
	height: 63px;
	font-size: 23px;
	padding: 14px 32px 0px 99px;
}
.homecoursearearight li {
	width: 100%;
}
.homecoursearearight {
	padding-top: 30px;
	padding-bottom: 50px;
}
.footerligo {
	width: 265px;
	height: 38px;
}
.about {
	padding-top: 20px;
	padding-bottom: 20px;
}
.about-bottom li {
	font-size: 15px;
}
.professionel {
	padding: 30px 0px !important;
}
#gallery.list-inline>li {
	width: 100%;
}
}
@media screen and (max-width: 352px) {
.logo {
	width: 229px;
	height: 33px;
	margin-top:0px!important;
}	
}